<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Start page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Spring Boot + Bootstrap</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav px-3">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="/registration">Sign up</a></li>
                </ul>
            </div>


            <div>
                <ul class="nav nav-pills nav-fill">

                    <span th:if="${isAdmin}">
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </span>

                    <span th:if="${isUser}">
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </span>

                </ul>
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <ul class="nav flex-column">

                        <span th:if="${isAdmin}">
                            <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                            <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
                        </span>

                        <span th:if="${isUser}">
                            <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
                        </span>

                    </ul>

                </div>
            </nav>

            <h1><p th:text="'Welcome to App, ' + ${name} + '!' + ' This is Start Page of App'" /></h1>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>